
<div *ngIf="!isAuth">
  <div *ngIf="authProblem" style="color:red;float:right;">dealler doesn't exist. try again</div>
    <div class="input-group mb-3" style="width: 30%; float: right;margin-top: 0.5%;">

          <div class="input-group-prepend">
            <button (click)="deallerLogin(deallerId.value)" class="button-67" >Dealler ID</button>
          </div>
          <input type="text" class="form-control" #deallerId >
    </div>
    

</div>

<div *ngIf="isAuth">
    <div class="input-group mb-3" style="width: 30%; float: right;margin-top: 0.5%;">
        <div  class="input-group-prepend">
          <button class="button-67" (click)="Logout()" role="button">Logout</button>
        </div>
    </div>
</div>
